<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wayezisetting">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.PrivacyPolicyActivity"></activity>
        <activity android:name=".Activity.WayeziFAQAcitvity" />
        <activity android:name=".Activity.ChatThemeActivity" />
        <activity android:name=".Activity.privacyPolicyActivity" />
        <activity android:name=".Activity.AppThemeSettingActivity" />
        <activity android:name=".Activity.SchoolSettingActivity" />
        <activity android:name=".Activity.ProfileSettingsActivity" />
        <activity android:name=".Activity.GeneralSetting" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>